body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 2%;
  color: #FEF2BF;
  margin-bottom: 0;
}

@media screen and (max-width: 1000px){
  .container{
    /* background-color: red; */
    margin: auto;
    padding: auto;
    padding-top: 50%;
    padding-bottom: 50%;
  }  
}

.container {
  display: block;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.start{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  height: 50px;
  width: 200px;  
  background-color: #FEF2BF;
  color: #011F3F;
  margin: 3%;
  margin-top: 1%;
  border-radius: 5px;
}
.start:hover{
  background-color: #011F3F;
  color: #FEF2BF;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.none{
  display: none;
}
